
.carousel-item img {
    width: 100%;         
    height: 100vh;        
    object-fit: cover; 
    object-position: center;  
    
  }


  .carousel-container {
    position: relative;
    
   
  }
  
  .carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1; 
  }

.carousel-container {
    position: relative;
   
  
  }
  
  .carousel-background img {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
  }
  

  .categories {
    position: absolute;
    top: 0;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    color: white; 
  }
  
 